/* Hier wordt de body opgemaakt */
body{
	background-color: black;
	background-image: url("overonsbg.PNG");
	background-size: 1260px 740px;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

/* Hier wordt alles geselecteerd */
*{
	margin:0;
	padding:0;
}

/*Navigatie wordt hier opgemaakt*/
nav{
	width: 100%;
	height: 60px;
	margin-top: 20px;
}

/*De hoogte van de navigatie wordt aangepast*/
nav ul{
	margin-top: -10%;
}

/* Unordered list items positie wordt hier opgemaakt*/
nav ul li{
	float: left;
	list-style: none;
	position: relative;

}

/* List items krijgen deze kleur als er gehoverd wordt */
nav ul li a:hover{
	color: #A98700;
}

/*List items krijgen een opmaak */
nav ul li a{
	display: block;
	font-family: arial;
	color: white;
	font-size: 12px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

/* Dropdown 'Meer' wordt hier opgemaakt */
nav ul li ul{
	display:none;
	position: absolute;
	background-color: white;
	border: 1px solid #A98700;
	border-radius: 15px;
	padding: 5px;	
}

/* Hover functie bij 'Meer' wordt aangemaakt */
nav ul li:hover ul{
	display:block;
}

/* Breedte van de dropdown box wordt opgemaakt */
nav ul li ul li{
	width: 130px;
}

/* List items van 'Meer' worden opgemaakt*/
nav ul li ul li a{
	padding: 8px 35px 8px 10px;
	color: black;
	font-family: serif;
}

/*  De titel wordt opgemaakt*/
h1{
	color: white;
	margin-left: 75%;
	margin-top: 8%;
	font-style: italic;
	font-size: 17px;
}

/* De lijn onder de titel wordt opgemaakt */
span{
	color: #A98700;
	margin-left: 74%;
}

/*Tekst over het brouwerij wordt opgemaakt*/
.text{
	color: white;
	font-style: italic;
	padding: 60px 50px 20px 50px;	
}

/*Teamfoto krijgt een positie*/
#teamfoto{
	margin: 4% 20%;
}

/* Tekst onder de foto wordt opgemaakt*/
#teamfoto figcaption{
	color: white;
	padding-left: 40%;
}


/* Dit is de footer styling*/
footer{
	background-color: #393939;
	min-width: 430px;
	margin-top: 10%;
}

/* Contact informatie worden naast elkaar geplaatst*/
.contact{
	float: left;
}

/* Tekst van de kopjes in de footer worden opgemaakt */
.adres, .aanmelden, .email{
	color: white;
	font-family: serif;
	font-size: 15px;
	padding-left: 170px;
}

/* Kopjes in de footer worden opgemaakt*/
#adres, #aanmelden, #email{
	color: #A98700;
	padding-left: 25px;
	padding-top: 20px;
}

/* Aanmeld button wordt opgemaakt */
#button{
	border: 1px solid #A98700;
	border-radius: 10px;
	font-size: 12px;
	color: #A98700;
	background-color: white;
	text-align: center;
	padding: 7px 18px 7px 18px;
	text-decoration: none;
	margin-left: 34%;

}

/* Social media afbeeldingen krijgen een positie */
.socialmedia{
	padding-top: 8%;
	padding-left: 44%;
}
